
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 176px;
}


.welcomeHome {
  background-image: linear-gradient(#01022dcb , #114323), url(../Imgaes/download.jpeg);  /* background image */
  background-size: cover;
  background-position: center center;  
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  z-index: -2;
  margin-bottom: 50px;
  position: relative;
   .content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    right: 7%;
    color: white;
    h1{
      font-size: 90px;
      color: #e6b16b;
      font-weight: bolder;
    }
    p{
      font-size: 40px;
      font-weight: bold;
      max-width: 600px;
    }


  }

  }

  .num{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
    p{
      font-size: 50px;
      color: #e6b16b;

    }
    svg{
      font-size: 80px;
      color: #114323;
    }
    .numbers{
      display: flex;
      align-items: center;
      flex-direction: row !important;
      gap: 20px;
    }
    #case{
      color: #114323;
      font-weight: bold;
    }

  }

  .Service_companySenior{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: #114323;  
    width: 100%;  
    h1{
      font-size: 40px;
      font-weight: bolder;
    }
    .Service_companyJunior{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      gap: 40px;
      width: 97%;  

      .content{

      position: relative;
      width: 370px;
      height: 200px;
      min-width: 300px;
      text-align: center;
      border: 1px solid #114323;
      border-radius: 20px;
      box-shadow: 10px 10px 10px -5px #114323; 
      cursor: pointer;
      transition: 0.5s;
      &:hover{
        scale: 1.1;
      } 
      .title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 10px;
        .icon{
          font-size: 40px;
          color: #114323;
        }
        p{
          display: flex;
          font-size: 22px;
          font-weight: bolder;
          color: #114323;
          
        }
        
      }
      .Paragraph{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        p{
          font-size: 17px;
          margin-top: 1vh;
          color: #114323;
          padding: 0 10px;
        }
      }
      .bttn{
        position: absolute;
        bottom: 10%;
        left: 5%;
        a{
          font-size: 14px;
          text-decoration: none;
          background-color: #e6b16b;
          padding: 5px 6px;
          border-radius: 10px;
          border: none;
          color:#114323;
          transition: 0.5s ease all;
          &:hover{
            background-color: #114323;
            color: #e6b16b;
          }
        }


      }
    }
    }
  }

  @media screen and (max-width: 768px){
    .welcomeHome{
      .content{
        top: 35%;
        h1{
          font-size: 50px;
        }
        p{
          font-size: 30px;
          max-width: 550px; 
        }
      }
    }
  }

  @media screen and (max-width: 584px){
    .welcomeHome{
      .content{
        top: 35%;
        h1{
          font-size: 50px;
        }
        p{
          font-size: 30px;
          max-width: 400px; 
        }
      }
    }
  }

  @media screen and (max-width: 483px){
    .welcomeHome{
      .content{
        top: 35%;
        h1{
          font-size: 45px;
        }
        p{
          font-size: 28px;
          max-width: 400px; 
        }
      }
    }
  }

  @media screen and (max-width: 415px){
    .welcomeHome{
      .content{
        top: 35%;
        h1{
          font-size: 40px;
        }
        p{
          font-size: 25px;
          max-width: 400px; 
        }
      }
    }
    .Service_companySenior{

      .Service_companyJunior{
        .content{
          width: 290px;
          height: 180px;
          .title{
            .icon{
              font-size: 35px;
            }
            p{
              font-size: 20px;
            }
          }
          .Paragraph{
            p{
              font-size: 15px;
            }
          }

        }
      }
        
    }
  }
  
