.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 100%; */
}

.container .header {
  font-size: 30px;
  font-weight: bolder;
  color: #114323;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.container .miniContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.container .miniContainer .image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 900px;
}

.container .miniContainer .image img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
