*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 176px;
    background-color: #f8f9fa;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 0;
    font-weight: bold;
    svg{
        cursor: pointer;
    }
    .navv{
        width: 94%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        
        
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            list-style: none;
            li a{
                text-decoration: none;
                padding: 7px;
                display: flex;
                align-items: center;
                width: max-content;
                color: #114323;
                font-size: 19px;
                

            }
        }
        .bigMenu{
            width: 100%;
            height: calc(100vh - 176px);
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#114323;
            color: rgb(255, 255, 255);
            position: fixed;
            top: 177px;
            left: 0;

            a{
                color: rgb(255, 255, 255);
                font-size: 20px;
                padding: 9px;
                text-decoration: none;
                
            }
        }

        
    }
    .search{
        color:#114323 ;
    }

}

.menu{
    display: none;
}
.active{
    background-color:#e6b16b !important;
    color: rgb(255, 255, 255) !important;
    padding: 15px !important;
    border-radius: 5px !important;
}

@media screen and (max-width: 1510px){
    .head{
        .navv{
            ul{
                display: none;
            }
        }
    }
    .menu{
        display: block;
    }
}