*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 176px;
    background-color: #f8f9fa;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 0;
    font-weight: bold;
    transition: all 0.3s ;
    svg{
        cursor: pointer;
    }
    
    nav{
        width: 94%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        img{
            width: 250px;
            height: 100px;

        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            list-style: none;
            li a{
                text-decoration: none;
                padding: 4px;
                display: flex;
                align-items: center;
                width: max-content;
                color: #114323;
                font-size: 19px;
                &:hover{
                    background-color:#e6b16b !important;
                    color: rgb(255, 255, 255) !important;
                    padding: 15px !important;
                    border-radius: 5px !important;                }
                

            }
        }
        .bigMenu{
            width: 100%;
            height: calc(100vh - 176px);
            min-height: 677px;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#114323;
            color: rgb(255, 255, 255);
            position: fixed;
            top: 177px;
            left: 0;

            a{
                color: rgb(255, 255, 255);
                font-size: 20px;
                padding: 9px;
                text-decoration: none;
                
            }
        }

        
    }
    .search{
        color:#114323 ;
    }

}

.menu{
    display: none;
}
 .active{
    background-color:#e6b16b !important;
    color: rgb(255, 255, 255) !important;
    padding: 15px !important;
    border-radius: 5px !important;
}
.navbar {
    position: fixed;
  
    transition: top 0.5s;
  }
  
  .navbar.hide {
    top: -176px; 
  }
@media screen and (max-width: 1510px){
    header{
        nav{
            ul{
                display: none;
            }
        }
    }
    .menu{
        display: block;
        svg{
            font-size: 30px;
            cursor: pointer;
        }
       
    }
}

@media screen and (max-height: 810px){
    header{
        nav{
            .bigMenu{
                a{
                    font-size: 16px;
           
                }
                
            }
            
            
        }
    }

    
}

@media screen and (max-height: 745px){
    header{
        nav{
            .bigMenu{
                padding-top : 20px;
                justify-content: start;
                a{
                    font-size: 15px;
           
                }
                
            }
            
        }
    }

}

@media screen and (max-height: 700px){
    header{
        nav{
            .bigMenu{
                a{
                    font-size: 14px;
           
                }
                
            }
            
            
        }
    }

}
@media screen and (max-height: 670px){
    header{
        nav{
            .bigMenu{
                height: calc(100vh - 176px);
                padding-top : 10px;
                justify-content: start;



                a{
                    font-size: 12px;
                    
           
                }
                
            }
            
            
        }
    }

}

@media screen and (max-height: 601px){
    header{
        nav{
            .bigMenu{
                gap: 0;


                
            }
            
            
        }
    }

}