* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contactus {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.contactus .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactus .title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    color: #114323;
}

.contactus .info {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactus .info h1 {
    font-size: 40px;
    font-weight: 700;
    color: #114323;
}

.contactus .info .mail,
.contactus .info .tel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.contactus .info .mail p,
.contactus .info .tel p {
    font-size: 32px;
    font-weight: 500;
    color: #e6b16b;
    transition: all 0.5s ease-in-out;
}

.contactus .info .mail p:hover,
.contactus .info .tel p:hover {
    color: #014209;
}

.contactus .info .mail a,
.contactus .info .tel a {
    text-decoration: none;
}

.contactus .info .mail .icon,
.contactus .info .tel .icon {
    font-size: 70px;
    color: #e6b16b;
    transition: all 0.5s ease-in-out;
}

.contactus .info .mail .icon:hover,
.contactus .info .tel .icon:hover {
    color: #014209;
}

.contactus .icons {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.contactus .icons svg {
    font-size: 90px;
    background-color: #014209;
    color: #e6b16b;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.contactus .icons svg:hover {
    background-color: #e6b16b;
    color: #014209;
}

.contactus .icons p {
    font-size: 32px;
    font-weight: 500;
    color: #e6b16b;
    transition: all 0.5s ease-in-out;
}

.contactus .icons p:hover {
    color: #014209;
}

.contactus .icons a {
    text-decoration: none;
    color: #e6b16b;
}

@media screen and (max-width: 700px) {
    .contactus .info {
        flex-direction: column;
    }

    .contactus .icons {
        flex-direction: column;
    }
}

@media screen and (max-width: 374px) {
    .contactus .title h1 {
        font-size: 30px;
    }

    .contactus .info h1 {
        font-size: 30px;
    }

    .contactus .info .mail p,
    .contactus .info .tel p,
    .contactus .icons p {
        font-size: 30px;
    }

    .contactus .info .mail .icon,
    .contactus .info .tel .icon,
    .contactus .icons svg {
        font-size: 70px;
    }
}
