* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Bigfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #567a61;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #e6b16b;
    padding: 20px;
    margin-top: 50px;
}

.Bigfooter a {
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo p {
    font-size: 20px;
    font-weight: 700;
    color: #e6b16b;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.logo p:hover {
    color: #014209;
}

.logo img {
    width: 300px;
    height: 150px;
    object-fit: contain;
}

.bigcontent {
    display: flex;
    align-items: center;
}

.info {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.info h1 {
    font-size: 40px;
    font-weight: 700;
    color: #114323;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mail p {
    font-size: 20px;
    font-weight: 500;
    color: #e6b16b;
    transition: all 0.5s ease-in-out;
}

.mail p:hover {
    color: #014209;
}

.mail a {
    text-decoration: none;
}

.mail .icon {
    font-size: 40px;
    color: #e6b16b;
    transition: all 0.5s ease-in-out;
}

.mail .icon:hover {
    color: #014209;
}

.tel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.tel p {
    font-weight: 500;
    color: #e6b16b;
    transition: all 0.5s ease-in-out;
}

.tel p:hover {
    color: #014209;
}

.tel a {
    text-decoration: none;
}

.tel .icon {
    font-size: 40px;
    color: #e6b16b;
    transition: all 0.5s ease-in-out;
}

.tel .icon:hover {
    color: #014209;
}

#dis {
    display: none;
}

.icons {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icons svg {
    font-size: 40px;
    background-color: #014209;
    color: #e6b16b;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
}

.icons svg:hover {
    background-color: #e6b16b;
    color: #014209;
}

.icons p {
    font-weight: 500;
    color: #e6b16b;
    transition: all 0.5s ease-in-out;
}

.icons p:hover {
    color: #014209;
}

.icons a {
    text-decoration: none;
    color: #e6b16b;
}

@media screen and (max-width: 963px) {
    .Bigfooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

    .bigcontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .mail p,
    .tel p,
    #dis {
        font-weight: 500;
        color: #e6b16b;
        transition: all 0.5s ease-in-out;
    }

    .mail p:hover,
    .tel p:hover,
    #dis:hover {
        color: #014209;
    }

    #dis {
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: #e6b16b;
    }

    .icons svg {
        font-size: 50px;
    }

    .icons p {
        font-size: 20px;
    }

    .logoo {
        display: none;
    }
}

@media screen and (max-width: 456px) {
    .Bigfooter .icons svg {
        font-size: 50px;
    }
}

@media screen and (max-width: 370px) {
    .Bigfooter .logo img {
        width: 200px;
        height: 90px;
        object-fit: contain;
    }

    .Bigfooter .icons svg {
        font-size: 40px;
    }
}
